.orchid--list__item {
    width: 32%;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.orchid--list__image img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.orchid--list__content {
    margin: 20px;
}