.container {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section--one {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
}

.section--one::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20231102/pngtree-abstract-watercolor-brush-texture-background-with-orchid-flower-and-copy-space-image_13772892.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    transform: scale(1.05);
    z-index: -1;
    height: 100%;
    width: 100%;
}


.section--one__content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section--one__smalltitle {
    margin: 0px;
}

.section--one__title {
    color: var(--text-h);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section--one__buttons {
    display: flex;
    min-width: 300px;
    max-width: 500px;
    justify-content: space-around;
    padding: 50px;
}

.section--one__buttonOne, .section--one__buttonTwo {
    border: none;
    background-color: #881D6E;
    color: white;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.1s ease 0.1s;
}

.section--one__buttonOne:hover, .section--one__buttonTwo:hover {
    background-color: #85597a;
}